/bin/*
/build/*
/dev/*

/src/platform/desktop/redistributable_bin/*
/src/platform/desktop/steam/*

/src/tests/testProject
/projectTemplate/bin/*
/projectTemplate/build/*
!/projectTemplate/dev/

/projectTemplate/SDL2.dll
/projectTemplate/dist/SDL2.dll

