/bin/*
/build/*
/dev/*

/src/platform/desktop/redistributable_bin/*
/src/platform/desktop/steam/*

/projectTemplate/bin/*
/projectTemplate/build/*

/projectTemplate/SDL2.dll
/projectTemplate/dist/SDL2.dll

